name: my workflow
on: [workflow_dispatch, push]
jobs:
  my-first-job:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
        - name: Checkout Code
          uses: actions/checkout@v6
        - name: List all Files
          run: ls -a
